.project {
    color: white;
    display: grid;
    height: 100%;
    /* background: linear-gradient(
        0deg,
        rgba(158, 158, 158, 0.05),
        rgba(128, 128, 128, 0.2),
        rgba(189, 189, 189, 0.25),
        rgba(128, 128, 128, 0.2),
        rgba(158, 158, 158, 0.05)
    ); */
    align-items: center;
    justify-items: center;
}

.project-image {
    width: 100px;
}

.anchor-flexbox a {
    color: white;
}

.dummies-logo {
    width: 100%;
}

.glogobotAvatar {
    width: 300px;
}

.HP-creature-crush {
    width: 300px;
}

.PokemonRPS {
    width: 300px;
}

.about-project {
    padding: 10px;
    font-size: 1.2em;
    color: white;
}

.about-project::first-letter {
    font-size: 1.8em;
    color: white;
}
