.projects-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-list {
    list-style-type: none;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
