.welcome-div {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.welcome-header {
    font-size: 10vmax;
}

div p {
    font-size: 5vmax;
}
