body {
    background-color: black;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

:root {
    /* --background-color: ; */
    --header-background-color: transparent;
    /* linear-gradient(
        0deg,
        rgb(0, 0, 0),
        rgb(31, 31, 31),
        rgb(54, 54, 54) */

    --footer-background-color: transparent;
    /* linear-gradient(
        180deg,
        rgb(184, 184, 184),
        rgb(206, 208, 206),
        rgb(226, 229, 226)
    ); */
    --label-color: linear-gradient(
        90deg,
        rgb(184, 184, 184),
        rgba(206, 208, 206, 0.548),
        rgba(226, 229, 226, 0.205)
    );
    --border-color: #e6e8e6ff;
    --border2-color: rgba(230, 232, 230, 0.63);
    --nav-border-color: ;
    --nav-background: #9fb8adff;
    --nav-button-color: #738877ff;
    --nav-link-hover-background: #475841ff;
    --nav-link-hover-shadow: #434c40ff;
    --nav-link-background: #b7c4beff;
    --card-color: rgba(218, 220, 218, 0.295);
    --card-info-color: linear-gradient(
        90deg,
        rgb(184, 184, 184),
        rgba(206, 208, 206, 0.548),
        rgba(218, 220, 218, 0.123)
    );
    --hover-recipe-card-color: rgba(218, 220, 218, 0.925);
    --primary-text-color: rgb(245, 245, 245);
    --secondary-text-color: rgb(64, 64, 64);
    --tertiary-text-color: rgb(0, 0, 0);
    --primary-font: sans-serif;

    /* coolors pallet */
    /* 
  --platinum: #e6e8e6ff;
  --gainsboro: #dadcdaff;
  --light-gray: #ced0ceff;
  --ash-gray: #b7c4beff;
  --opal: #9fb8adff;
  --xanadu: #738877ff;
  --rifle-green: #475841ff;
  --rifle-green-2: #434c40ff;
  --onyx: #3f403fff; 
  */
}

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    /* color: var(--primary-text-color); */
}

.App {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    height: 100vh;
    width: 100vw;
}

/* #background-blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
    background: url("/assets/spaghetti-1932466.jpg");
    background-position: center;
    background-size: cover;
} */

.logo {
    width: fit-content;
    height: 80%;
}

.site-title {
    width: fit-content;
    text-align-last: right;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.418);
}

nav > a:hover {
    transform: scale(110%);
    background: var(--nav-link-hover-background);
    color: var(--primary-text-color);
    border: 1px solid var(--border-color);
    box-shadow: -1px 0 5px 0.5px var(--nav-link-hover-shadow);
    transition: all 100ms ease-in;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e100;
    border: 1px solid #ffffffa2;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff77;
}
::-webkit-scrollbar-thumb:active {
    background: #0000007a;
}
::-webkit-scrollbar-track {
    background: #46464677;
    border: 0.5px solid #ffffff1c;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
