@media screen and (max-width: 768px) {
    #nav-container {
        height: fit-content;
        position: fixed;
        top: 70px;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
        align-items: center;
    }
    .nav-collapse {
        left: -150px;
        transition: all 250ms ease-in-out;
    }

    .nav-open {
        left: 10px;
        transition: all 250ms ease-in-out;
    }

    #nav-toggle-btn {
        z-index: -100;
        padding: 0;
        position: fixed;
        top: 10px;
        left: 10px;
        display: flex;
        flex-direction: row;
        gap: 3px;
        height: 40px;
        width: 40px;
        overflow: hidden;
        background: rgb(255, 255, 255);
    }

    #btn-filler {
        margin: auto;
        width: 90%;
        height: 97%;
        background: url("../../../assets/background.gif");
        transition: all 250ms ease-in;
    }

    .toggle-btn-open,
    .toggle-btn-open * {
        clip-path: polygon(
            100% 0%,
            75% 50%,
            100% 100%,
            25% 100%,
            0% 50%,
            25% 0%
        );
        transition: all 250ms ease-in;
    }

    .toggle-btn-close,
    .toggle-btn-close * {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        transition: all 250ms ease-in;
    }

    #menu-btn {
        width: 100%;
        text-align: center;
        border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        background-image: url("/src/assets/background.gif");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (min-width: 768px) {
    .nav-collapse {
        display: flex;
        gap: 30px;
        padding: 10px;
        margin-right: 10px;
    }

    #menu-btn {
        text-align: center;
        border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        background-image: url("/src/assets/background.gif");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}
